body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  font-family: Helvetical;
}
body {
  position: relative;
  background-color: #eee;
  height: 100%;
  _overflow: hidden;
}
li {
  list-style: none;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.wrap {
  height: 100%;
  overflow: auto;
}
.header {
  position: fixed;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.logo {
  float: left;
  padding: 0.41481481rem 0.59259259rem 0 0.51851852rem;
}
.logo img {
  width: 3.55555556rem;
}
.menuBtnShow {
  float: left;
  width: 1.48148148rem;
  background-image: url(../images/channel_ice.png);
  background-repeat: no-repeat;
  background-size: 1.21481481rem 3.45185185rem;
  background-position: 0 0.14814815rem;
  height: 1.92592593rem;
}
.menuBtnClose {
  float: left;
  width: 1.2rem;
  background-image: url(../images/channel_ice.png);
  background-repeat: no-repeat;
  background-size: 1.21481481rem 3.45185185rem;
  background-position: 0 -1.77777778rem;
  margin-top: 0.2962963rem;
  height: 1.7rem;
}
.headerRight {
  float: right;
  padding: 0.41481481rem 0 0 0;
}
.headerRight a {
  width: 1.64444444rem;
  height: 1.15555556rem;
  line-height: 1.15555556rem;
  background: #669900;
  color: white;
  font-size: 0.66666667rem;
  float: left;
  margin: 0 0.41481481rem 0 0;
  text-align: center;
  border-radius: 0.14814815rem;
}
.search {
  width: 15.55555556rem;
  height: 1.55555556rem;
  line-height: 1.55555556rem;
  padding: 0.22222222rem;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 0;
  top: 2rem;
}
.search form {
  margin: 0;
  padding: 0;
  height: 100%;
}
.search input::-webkit-input-placeholder {
  color: #000;
}
.search input[type="text"] {
  float: left;
  width: 12.28148148rem;
  margin: 0;
  padding: 0;
  background-color: #999999;
  color: #000;
  text-indent: 0.14814815rem;
  height: 100%;
  border: none;
  font-size: 0.66666667rem;
  outline: none;
  border-radius: 0.2rem 0 0 0.2rem;
}
.search input[type="text"]:focus {
  background-color: #fff;
}
.search button {
  float: right;
  background-color: #414040;
  width: 3rem;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.87407407rem;
  border: none;
  color: white;
  border-radius: 0 0.2rem 0.2rem 0;
}
.headerNav {
  position: absolute;
  left: 0;
  top: 2rem;
  border-top: 1px solid #666666;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0.5rem 0;
  display: none;
}
.headerNav li {
  float: left;
  width: 3.99rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}
.headerNav a {
  color: #fff;
  font-size: 0.9rem;
}
.content {
  padding-top: 4rem;
}
.subTopBar {
  width: 100%;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.subTopBar ul {
  padding: 0.37037037rem 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.subTopBar li {
  float: left;
  text-align: center;
  padding: 0.22222222rem 0.59259259rem;
}
.subTopBar li.active {
  background-color: #690;
}
.subTopBar li.active a {
  color: #fff;
}
.subTopBar a {
  color: #000;
  font-size: 0.9rem;
}
.banner {
  width: 100%;
  height: 9.18518519rem;
  position: relative;
  overflow: hidden;
}
.banner ul {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.banner ul li {
  float: left;
  height: 9.18518519rem;
}
.banner ul li img {
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  height: 9.18518519rem;
  max-height: 100%;
}
.bannerNav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.bannerNav span {
  width: 0.2962963rem;
  height: 0.2962963rem;
  display: inline-block;
  background-color: #fff;
  border-radius: 0.2962963rem;
}
.bannerNav .active {
  background-color: red;
}
.video {
  width: 15.5rem;
  padding-bottom: 0.2962963rem;
  margin: 0 auto 0.44444444rem auto;
  background-color: #fff;
  overflow: hidden;
}
.videoHeader {
  height: 1.48148148rem;
  line-height: 1.48148148rem;
}
.videoHeader h2 {
  font-size: 0.8rem;
  font-weight: normal;
  float: left;
  padding-left: 0.07407407rem;
}
.videoHeader a {
  float: right;
  font-size: 0.7rem;
  color: #000;
}
.videoNav {
  width: 98%;
  margin: 0 auto;
  height: 1.1rem;
  position: relative;
  margin-bottom: 0.07407407rem;
}
.videoNav a {
  float: left;
  font-size: 0.7rem;
  color: #000;
  width: 1.77777778rem;
  text-align: center;
}
.videoNav span {
  height: 0.08888889rem;
  width: 1.77777778rem;
  background-color: #669900;
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
}
.videoGroup {
  overflow: hidden;
  background-color: #ffffff;
}
.videoGroup ul {
  float: left;
  text-align: center;
  display: block;
}
.videoGroup ul > img {
  padding-top: 1.48148148rem;
}
.videoGroup ul li {
  width: 7.4962963rem;
  margin: 0.12685185rem;
  background-color: #eee;
  float: left;
  padding: 0.07407407rem;
  box-sizing: border-box;
}
.videoGroup ul li a {
  color: #000;
}
.videoGroup ul li img {
  width: 100%;
  height: 4.2962963rem;
}
.videoGroup ul li span {
  width: 100%;
  overflow: hidden;
  font-size: 0.7rem;
  white-space: nowrap;
  display: inline-block;
  text-indent: 0.07407407rem;
  text-align: left;
  text-overflow: ellipsis;
}
.footer {
  height: 3rem;
  line-height: 3rem;
  background-color: #fff;
  text-align: center;
  font-size: 0.7rem;
}
